**Workshop**

มี 3 ข้อ (Import Excel, CSV เป็นเกร็ดความรู้เสริมครับ )

- import ข้อมูลจาก Yahoo Finance
- import ข้อมูลจาก Excel
- export ข้อมูลเป็น csv, excel

## Import data from yahoo finance

In [4]:
import yfinance as yf

In [6]:
raw_data = yf.download('TLSA')
raw_data

[*********************100%***********************]  1 of 1 completed

                Open      High       Low     Close  Adj Close  Volume
Date
2018-11-20  2.100840  2.100840  1.670668  1.670668   1.670668   87465
2018-11-21  1.838735  2.434974  1.838735  2.118848   2.118848   38984
2018-11-23  2.200880  2.200880  1.958784  1.960784   1.960784   14994
2018-11-26  1.940776  1.940776  1.552621  1.676671   1.676671   24990
2018-11-27  1.760704  1.800720  1.700680  1.792717   1.792717   21991
...              ...       ...       ...       ...        ...     ...
2022-11-28  0.670000  0.670000  0.590000  0.640000   0.640000   48000
2022-11-29  0.660000  0.660000  0.610000  0.650000   0.650000   15000
2022-11-30  0.600000  0.660000  0.590000  0.660000   0.660000   49000
2022-12-01  0.640000  0.640000  0.560000  0.640000   0.640000   94300
2022-12-02  0.600000  0.632500  0.570100  0.632500   0.632500   25542

[1016 rows x 6 columns]

## Import data from Excel

In [9]:
import pandas as pd

raw_data_excel = pd.read_excel('./data/tesla.xlsx')
raw_data_excel

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-01-04,719.460022,744.489990,717.190002,729.770020,729.770020,48638200
1,2021-01-05,723.659973,740.840027,719.200012,735.109985,735.109985,32245200
2,2021-01-06,758.489990,774.000000,749.099976,755.979980,755.979980,44700000
3,2021-01-07,777.630005,816.989990,775.200012,816.039978,816.039978,51498900
4,2021-01-08,856.000000,884.489990,838.390015,880.020020,880.020020,75055500
...,...,...,...,...,...,...,...
247,2021-12-27,1073.670044,1117.000000,1070.719971,1093.939941,1093.939941,23715300
248,2021-12-28,1109.489990,1119.000000,1078.420044,1088.469971,1088.469971,20108000
249,2021-12-29,1098.640015,1104.000000,1064.140015,1086.189941,1086.189941,18718000
250,2021-12-30,1061.329956,1095.550049,1053.150024,1070.339966,1070.339966,15680300
251,2021-12-31,1073.439941,1082.000000,1054.589966,1056.780029,1056.780029,13577900

In [10]:
# optional
raw_data_csv = pd.read_csv('./data/tesla.csv')
raw_data_csv

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-01-04,719.460022,744.489990,717.190002,729.770020,729.770020,48638200
1,2021-01-05,723.659973,740.840027,719.200012,735.109985,735.109985,32245200
2,2021-01-06,758.489990,774.000000,749.099976,755.979980,755.979980,44700000
3,2021-01-07,777.630005,816.989990,775.200012,816.039978,816.039978,51498900
4,2021-01-08,856.000000,884.489990,838.390015,880.020020,880.020020,75055500
...,...,...,...,...,...,...,...
247,2021-12-27,1073.670044,1117.000000,1070.719971,1093.939941,1093.939941,23715300
248,2021-12-28,1109.489990,1119.000000,1078.420044,1088.469971,1088.469971,20108000
249,2021-12-29,1098.640015,1104.000000,1064.140015,1086.189941,1086.189941,18718000
250,2021-12-30,1061.329956,1095.550049,1053.150024,1070.339966,1070.339966,15680300
251,2021-12-31,1073.439941,1082.000000,1054.589966,1056.780029,1056.780029,13577900

## Export data to csv, excel

In [11]:
raw_data.to_csv('./data/export_tesla.csv')

In [12]:
raw_data.to_excel('./data/export_tesla.xlsx')