**Workshop**

Screening with fundamental

## Import library

In [20]:
import yfinance as yf
import mplfinance as mpf
import pandas as pd
import numpy as np
import pandas_ta as ta

## Import data

In [21]:
path = 'https://drive.google.com/uc?export=download&id=1EqhMOcAPX7WfW1gObCPPsFq99D5RfA42'

In [22]:
raw_df = pd.read_excel(path)
raw_df

,Name,No.,Links,Sign,Last,Chg%,Volume,Value (k),MCap (M),P/E,...,ROA%,ROE%,NPM%,Yield%,FFloat%,MG%,Magic1,Magic2,PEG,CG
0,Average,NaN,NaN,NaN,19.49,1.61,3.363165e+07,105048.26,24834.05,62.50,...,5.61,2.36,-12.97,0.77,40.89,NaN,559.69,558.51,-1.10,NaN
1,2S,1.0,i | 1 | 2 | 3,NaN,6.85,2.24,1.073600e+06,7281.00,3425.00,4.72,...,40.31,38.98,15.65,3.28,58.11,NaN,31.00,17.00,0.02,NaN
2,3K-BAT,2.0,i,NaN,68.25,-0.73,1.000000e+03,68.00,5351.00,49.35,...,-3.08,5.28,3.29,0.37,2.10,NaN,914.00,NaN,NaN,NaN
3,7UP,3.0,i | 1 | 2 | 3,NaN,1.61,2.55,2.758150e+08,440191.00,8280.00,39.60,...,7.70,10.20,37.44,NaN,66.55,NaN,741.00,713.00,-0.29,NaN
4,A,4.0,i | 1 | 2 | 3,NaN,4.96,-0.40,1.500000e+03,7.00,4861.00,51.30,...,3.99,2.77,-4.93,0.60,25.86,NaN,989.00,927.00,-0.18,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
752,XPG,752.0,i | 1 | 2 | 3,NaN,3.98,-4.33,3.193370e+07,128129.00,11405.00,830.92,...,1.49,1.56,129.78,NaN,61.26,NaN,1082.00,1106.00,-1.65,NaN
753,YGG,753.0,i | 1 | 3,NaN,20.70,-1.90,6.996000e+05,14600.00,3726.00,43.20,...,22.08,24.21,32.10,0.85,26.32,NaN,534.00,489.00,2.63,NaN
754,YUASA,754.0,i | 1 | 3,NaN,16.80,0.00,6.400000e+03,108.00,1808.00,10.59,...,16.70,20.39,5.82,2.63,15.27,NaN,215.00,178.00,0.23,NaN
755,ZEN,755.0,i | 1 | 3,NaN,11.80,-0.84,1.912000e+05,2278.00,3540.00,158.12,...,2.18,1.83,-3.45,2.12,26.68,NaN,1060.00,1060.00,-6.52,NaN
756,ZIGA,756.0,i | 1 | 2 | 3,NaN,5.05,-1.94,5.696200e+06,29052.00,2511.00,16.18,...,14.36,20.29,13.69,3.19,37.17,NaN,322.00,306.00,0.32,NaN

In [27]:
df = raw_df.copy()

In [28]:
df.dtypes

Name          object
No.          float64
Links         object
Sign          object
Last         float64
Chg%         float64
Volume       float64
Value (k)    float64
MCap (M)     float64
P/E          float64
P/BV          object
D/E          float64
DPS           object
EPS          float64
ROA%         float64
ROE%         float64
NPM%         float64
Yield%        object
FFloat%      float64
MG%          float64
Magic1       float64
Magic2       float64
PEG          float64
CG           float64
dtype: object

## Data Cleaning

In [68]:
df = df.replace('-', np.nan)

df['Yield%'] = df['Yield%'].astype(float)
df['P/BV'] = df['P/BV'].astype(float)
df['DPS'] = df['DPS'].astype(float)

df['P/E'] = round(df['P/E'], 1)

In [69]:
df.dtypes

Name          object
No.          float64
Links         object
Sign          object
Last         float64
Chg%         float64
Volume       float64
Value (k)    float64
MCap (M)     float64
P/E          float64
P/BV         float64
D/E          float64
DPS          float64
EPS          float64
ROA%         float64
ROE%         float64
NPM%         float64
Yield%       float64
FFloat%      float64
MG%          float64
Magic1       float64
Magic2       float64
PEG          float64
CG           float64
dtype: object

In [70]:
df

,Name,No.,Links,Sign,Last,Chg%,Volume,Value (k),MCap (M),P/E,...,ROA%,ROE%,NPM%,Yield%,FFloat%,MG%,Magic1,Magic2,PEG,CG
0,Average,NaN,NaN,NaN,19.49,1.61,3.363165e+07,105048.26,24834.05,62.5,...,5.61,2.36,-12.97,0.77,40.89,NaN,559.69,558.51,-1.10,NaN
1,2S,1.0,i | 1 | 2 | 3,NaN,6.85,2.24,1.073600e+06,7281.00,3425.00,4.7,...,40.31,38.98,15.65,3.28,58.11,NaN,31.00,17.00,0.02,NaN
2,3K-BAT,2.0,i,NaN,68.25,-0.73,1.000000e+03,68.00,5351.00,49.4,...,-3.08,5.28,3.29,0.37,2.10,NaN,914.00,NaN,NaN,NaN
3,7UP,3.0,i | 1 | 2 | 3,NaN,1.61,2.55,2.758150e+08,440191.00,8280.00,39.6,...,7.70,10.20,37.44,NaN,66.55,NaN,741.00,713.00,-0.29,NaN
4,A,4.0,i | 1 | 2 | 3,NaN,4.96,-0.40,1.500000e+03,7.00,4861.00,51.3,...,3.99,2.77,-4.93,0.60,25.86,NaN,989.00,927.00,-0.18,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
752,XPG,752.0,i | 1 | 2 | 3,NaN,3.98,-4.33,3.193370e+07,128129.00,11405.00,830.9,...,1.49,1.56,129.78,NaN,61.26,NaN,1082.00,1106.00,-1.65,NaN
753,YGG,753.0,i | 1 | 3,NaN,20.70,-1.90,6.996000e+05,14600.00,3726.00,43.2,...,22.08,24.21,32.10,0.85,26.32,NaN,534.00,489.00,2.63,NaN
754,YUASA,754.0,i | 1 | 3,NaN,16.80,0.00,6.400000e+03,108.00,1808.00,10.6,...,16.70,20.39,5.82,2.63,15.27,NaN,215.00,178.00,0.23,NaN
755,ZEN,755.0,i | 1 | 3,NaN,11.80,-0.84,1.912000e+05,2278.00,3540.00,158.1,...,2.18,1.83,-3.45,2.12,26.68,NaN,1060.00,1060.00,-6.52,NaN
756,ZIGA,756.0,i | 1 | 2 | 3,NaN,5.05,-1.94,5.696200e+06,29052.00,2511.00,16.2,...,14.36,20.29,13.69,3.19,37.17,NaN,322.00,306.00,0.32,NaN

## Screening Assets

In [71]:
df[(df['P/E'] > 15) & (df['P/E'] < 80)].sort_values(by='P/E', ascending=False)

,Name,No.,Links,Sign,Last,Chg%,Volume,Value (k),MCap (M),P/E,...,ROA%,ROE%,NPM%,Yield%,FFloat%,MG%,Magic1,Magic2,PEG,CG
498,SABUY,498.0,i,NaN,10.80,-0.92,6128100.0,67006.0,11086.0,79.8,...,6.35,8.47,10.29,0.28,32.96,NaN,853.0,843.0,NaN,NaN
704,TVT,704.0,i | 1 | 2 | 3,NaN,0.88,10.00,10765100.0,9075.0,704.0,76.8,...,2.67,1.94,5.38,NaN,38.00,NaN,1023.0,1004.0,-3.02,NaN
626,TGPRO,626.0,i | 1 | 2 | 3,NaN,0.39,21.88,305152000.0,110212.0,1841.0,72.9,...,2.04,1.20,3.14,NaN,60.53,NaN,1051.0,1044.0,-0.02,NaN
230,GRAMMY,230.0,i | 1 | 2 | 3,NaN,13.80,0.00,34900.0,486.0,11315.0,72.6,...,6.85,14.09,19.79,NaN,20.23,NaN,705.0,810.0,0.15,NaN
496,SAAM,496.0,i | 1 | 3,NaN,6.45,-0.77,718300.0,4637.0,1935.0,72.2,...,8.27,8.82,41.11,0.98,23.53,NaN,839.0,760.0,10.13,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,ASIAN,58.0,i | 1 | 2 | 3,NaN,17.20,0.00,2232500.0,38494.0,14002.0,15.3,...,15.07,27.12,10.91,2.13,37.31,NaN,261.0,288.0,0.78,NaN
468,PTTEP,468.0,i | 1 | 2 | 3,NaN,108.50,-1.36,4623500.0,503196.0,430743.0,15.2,...,8.21,7.61,17.03,3.92,34.69,NaN,575.0,457.0,2.02,NaN
699,TTW,699.0,i | 1 | 2 | 3,NaN,12.00,0.00,10364000.0,124499.0,47880.0,15.1,...,18.18,23.49,53.12,5.00,36.11,NaN,283.0,255.0,3.61,NaN
343,MBAX,343.0,i | 1 | 2 | 3,NaN,5.10,0.00,226400.0,1158.0,979.0,15.1,...,6.56,12.35,-1.69,17.25,55.52,NaN,438.0,518.0,0.33,NaN
711,UBIS,711.0,i | 1 | 2 | 3,NaN,7.25,0.69,1402100.0,10094.0,1653.0,15.1,...,14.69,22.28,8.71,2.07,49.75,NaN,291.0,291.0,-0.12,NaN

In [72]:
df[(df['P/E'] > 15) & (df['P/E'] < 80)].sort_values(by=['P/E', 'MCap (M)'], ascending=[True, False]).head(25)[['Name', 'P/E', 'MCap (M)']]

       Name   P/E  MCap (M)
699     TTW  15.1   47880.0
711    UBIS  15.1    1653.0
343    MBAX  15.1     979.0
468   PTTEP  15.2  430743.0
220    GFPT  15.3   15924.0
58    ASIAN  15.3   14002.0
605  SYNTEC  15.4    3200.0
687     TSC  15.4    2988.0
356     MGT  15.4    1408.0
115     CAZ  15.4    1094.0
190    EGCO  15.5   95290.0
600     SVI  15.5   10376.0
258     ILM  15.5    8232.0
564  SORKON  15.6    2037.0
246   HTECH  15.6    1830.0
36   AMARIN  15.7    6688.0
251     ICN  15.7    2408.0
167     DCC  15.8   26829.0
23      AIE  16.0    8162.0
395     NPK  16.0     141.0
151     CPL  16.1     897.0
579     SSP  16.2   12779.0
664     TOG  16.2    4387.0
34      AMA  16.2    2719.0
756    ZIGA  16.2    2511.0